Source: python-thinblue
Section: python
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 5.0.37.2), cdbs, python, python-support (>= 0.3)
Standards-Version: 3.7.2
XS-Vcs-Browser: http://trac.tcosproject.org/browser/trunk/tcosmonitor
XS-Vcs-Svn: https://www.tcosproject.org/svn/tcos/trunk/tcosmonitor

Package: python-thinblue
Architecture: all
Depends:  python, lighttpd, python-sqlite, python-bluez, python-lightblue,  
          sqlite, bluez-utils, obexftp, logrotate, 
          ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}
Description: Python daemon to search and send files to Bluetooth Phone devices
 Use Python bluetooth to discover devices, sqlite to save in a database
 and sdtool && obexftp to send files.
 You can manage app using http://localhost:8080
 .
  Homepage: http://www.thinetic.es

