Source: python-thinblue
Section: python
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 7.0), cdbs, python, python-support (>= 0.3)
Standards-Version: 3.8.1
Vcs-Git: http://thinetic.com/git/python-thinblue.git
Vcs-Browser: http://thinetic.com/cgit/python-thinblue.git/
Homepage: http://thinetic.es


Package: thinblue
Architecture: all
Depends:  python, python-sqlite, python-bluez, python-lightblue,  
          sqlite3, bluez-utils, obexftp, logrotate, python-apsw,
          python-webpy, ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}
Description: Python daemon to search and send files to Bluetooth Phone devices
 Use Python bluetooth to discover devices, sqlite to save in a database
 and sdtool && obexftp to send files.
 You can manage app using http://localhost:9090

